Code/iLE1-00-Are-Singletons-and-Global-Instances/iLE1-00-Are-Singletons-and-Global-Instances.xcodeproj/project.xcworkspace/xcuserdata/
Code/iLE1-00-Are-Singletons-and-Global-Instances/iLE1-00-Are-Singletons-and-Global-Instances.xcodeproj/xcuserdata/
Code/iLE1-00-Are-Singletons-and-Global-Instances/iLE1-00-Singletons.playground/playground.xcworkspace/
